/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: orangered;
}
.btn-primary{
    border-radius: 5px;
    background: orangered;
    border: 0;
    color: white;
    font-style: 20px;
    font-weight: 700;
    padding: 15px 35px;
    cursor: pointer;
}
nav >ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header related style */
.header{
      background-color: #FFF8F3;
      background-image: url('/images/header_bg.png'), url(/images/developer.png);
      height:710px;
       /* width: 700px; */
      background-repeat: no-repeat;
      background-position: bottom right ,left;
}
 
    
    

.banner{
     
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner .profile-picture{
    width: 400px;
     
}
.banner-greetings{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-content{
    max-width: 500px;
}
/* main section style */
.about{
    padding: 130px;
    background-color: #FFF8F3;
    margin: 130px 0;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    text-align: center;
    color: #757575;
    font-size: 18px;

}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin: 130px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.profile-picture{
    height: 500px;
    width: 500px;
}
/* skills related */
.skills-container{
    display: flex;
}
.skill{
    padding: 30px;
     
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
 
#what-i-do-description{
    padding: 30px 150px;
}
.skill-description{
    color: gray;
}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
     

}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-item-description , .resume-item-institute{
    color: #757575;

}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-container hr{
    margin: 30px;
}
.download-cv{
    text-align: center;
     margin-top: 50px;
}
/* footer style */
footer{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}
.footer-column{
    width: 50%;
}
.contact input, textarea{
        display: block;
        margin-bottom: 25px;
        padding: 18px 35px;
        /* color: #757575; */
        border-radius: #FFF;
        border: 0;
        width: 100%;
    }
.social-links a{
    margin-right: 25px;
}
    